.btn-floating {
	display: block;
	margin: 0 auto;
}

.journals-slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slider-button {
	flex:1;
}

.journals-left, 
.journals-right {
	flex: 2;
	overflow: hidden;
}

.journal-area {
	flex: 3;
	overflow: hidden;
}

.journal {
	display: inline-block;
	visibility: visible;
	position: relative;
	width: 100%;
	height: 500px;
	border: 4px solid black;
	border-radius: 5px;
}

.journal-name {
	display: block;
	margin: 10px auto;
	background: white;
	height: 100px;
	width: 80%;
	border: 1px solid black;
	border-radius: 5px;
}

.journal.invisible {
	display: none;
}

.journal.selected {
	display: block;
	margin: 0 auto;
}

button {
	display: block;
	margin: 0 auto;
}

