body {
	background-image: url("http://fc01.deviantart.com/images3/i/2004/176/4/1/Desk_Texture.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#newEntry {
    width: 900px;
    height: 500px;
    border: 5px solid pink;
    background: #fff;
    position: relative;
}

h4 {
	color: #ffb3ff;
	font-family: 'Open Sans Condensed', sans-serif;
}

#buttons {
	position: relative;
	left: 540px;
}

textarea {
	height: 400px;
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
}
