<body>
    <h4>New Entry:</h4>
    <div id="newEntry" class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
        </div>
      </div>
    </form>
  </div>
<div id="buttons">
  <a class="waves-effect waves-light btn purple lighten-2">Analyze</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="waves-effect waves-light btn #ba68c8 purple lighten-2">Save</a>
</div>
</body>
