.journal {
	max-width: 70%;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.left-page {
	flex-grow: 1;
	background-color: red;
	max-width: 100px;
	min-width: 100px;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right-page {
	flex-grow: 2;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

button {
	display: inline-block;
}