.journal {
	display: flex;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	border: 4px solid black;
	border-radius: 5px;
	min-height: 600px;
}

.crease {
	flex-grow: 1;
	width: 20px;
	background-color: black;
}

.content {
	flex-grow: 10;
	float: left;
}

input[type=text] {
	max-width: 400px;
	background-color: white;
}

.message {
	color: red;
	font-size: 20px;
}

button {
	margin: 10px auto;
}

.colors {
	text-align: center;
}

.color {
	display: inline-block;
	margin: 0px 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 2px solid black;
}

#yellow {
	background-color: #FFEE93;
}

#orange {
	background-color: #F58F29;
}

#red {
	background-color: #A10702;
}

#purple {
	background-color: #832161;
}

#blue {
	background-color: #253C78;
}

#green {
	background-color: #3A5A40;	
}