h1 {
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200px;
    min-width: 400px;
    display: block;
    margin: 0 auto;
    color:  #ffb3ff;
}

img {
	display: block;
	margin: 0 auto;
}