.journal {
	max-width: 70%;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}


.left-page {
	flex-grow: 1;
	/*margin: 0 auto;
	display: inline-block;
	width: 200px;
	min-height: 400px;*/
	background-color: red;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right-page {
	flex-grow: 2;
	/*margin: 0 auto;
	display: inline-block;
	width: 400px;
	min-height: 400px;*/
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #EEF0F2;
}