<p>
   <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
</p>

<div class="journals-slider">
	<div class="slider-button">
		<button (click)="cycleLeft()">Left</button>
	</div>
	<div class="journal-area">
		<div *ngFor="let journal of journals" [ngClass]="{'selected': journal.selected}" class="journal" [attr.id]="'journal' + journal.id">{{journal.name}}</div>
	</div>
	<div class="slider-button">
		<button (click)="cycleRight()">Right</button>
	</div>
</div>

