<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h4>About Our Team!</h4>
<div id="chase" class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
		<div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://media.licdn.com/media/AAEAAQAAAAAAAA1eAAAAJDZjYmM1NDk5LWE2ZGMtNDgyNi1iNDA0LWQ2NTVlYjk0ZDI1NA.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
            <h5>Chase Barrett</h5>
              <span class="black-text">
                Chase is a gentleman and a scholar. He once rode an aligator 15 miles to go to school in Florida. If you ever find yourself needing assistance from this southern gentlemen, remember to bring the Kombucha and he will be putty in your hands. Putty. In. Your. Hands. He has also studied a range of subjects from Economics to Jazz History, but recently discovered his passion for technology and development. 
              </span>
              <br>
              <a id="chasePage" href="http://www.cb3.space/" class="fa fa-rss btn btn-floating pulse #e1bee7 purple lighten-4"></a>
              <a href="https://www.linkedin.com/in/chaseb3/" class="fa fa-linkedin btn btn-floating pulse #e1bee7 purple lighten-4"></a>
            </div>
		</div>
	</div>
</div>
<div id="mark" class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
		<div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAzCAAAAJDEyNTQ1OTNmLWJjMWUtNDA5Yy05Yzk3LTcyZmQ3ZDJjOWI4OQ.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
            <h5>Mark Kleinfelder</h5>
              <span class="black-text">
          		When Mark isn’t out conquering mountains of peanut butter cups in Colorado, he enjoys coding. Mark can be quite the quiet lad, except when it comes to his bike. How else is he supposed to conquer those mountains? On foot? pssht… For all your coding needs, check out his work here
              </span>
              <br>
              <a href="https://github.com/MarkKleinfelder" class="fa fa-github btn btn-floating pulse #e1bee7 purple lighten-4"></a>
              <a href="https://www.linkedin.com/in/markkleinfelder/" class="fa fa-linkedin btn btn-floating pulse #e1bee7 purple lighten-4"></a>
            </div>
		</div>
	</div>
</div>

<div id="corey" class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
		<div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAmMAAAAJDBhZWRiNmRkLWY2YzItNDZmNy04YWRjLTQ4MmY4MjI5ZmNhYw.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
              <h5>Corey Selover</h5>
          		Corey loves gaming more than you love your grandma. Or close to….When she isn’t gaming or out on a bike ride, she’s being a badass developing websites and games for all to enjoy. Yes, all. Even your grandma. She has a passion for smashin’ (code that is). If you can't find her in her ramen noodle food truck, you can get a taste of her work at the following link:
              </span>
              <br>
              <a href="https://github.com/cg923" class="fa fa-github btn btn-floating pulse #e1bee7 purple lighten-4"></a>
              <a href="https://www.linkedin.com/in/cselover/" class="fa fa-linkedin btn btn-floating pulse #e1bee7 purple lighten-4"></a>
            </div>
		</div>
	</div>
</div>

<div id="jeremy" class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
		<div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAPCAAAAJDIwNjk3MDIxLTY2MTQtNGFhNS05OTcwLTc0OTJmNDI3NDYwMw.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
              <h5>Jeremy Verdolino</h5>
          		Jeremy and his recent love for his beard have the charm of Tony Robbins. His effervescent spirit and rainbow of positivity will never leave you wondering where you went wrong. Throw in his coding experience and you have one hell of a mix for a perfect addition to your party. Follow the link for a Jeremy experience of your own.
              </span>
              <br>
              <a href="https://github.com/jayverts" class="fa fa-github btn btn-floating pulse #e1bee7 purple lighten-4"></a>
              <a href="https://www.linkedin.com/in/jeremy-verdolino-96b59843/" class="fa fa-linkedin btn btn-floating pulse #e1bee7 purple lighten-4"></a>
            </div>
		</div>
	</div>
</div>

<div id="roxann" class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel grey lighten-5 z-depth-1">
		<div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://i.imgur.com/a6k6DMB.png" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
              <h5>Roxann Lopez</h5>
          		Although Roxann enjoys a Sunday ride through the Royal Gorge with a Strawberry Daiquiri, she has other hobbies she enjoys.  When she worked in patent law, her days consisted of kicking ass and taking names (for patent purposes, of course), but now you can find her creating websites at her leisure. If she’s not busy scouring the mountains for a great campsite, she may help you with your website inquiries…follow the link to check out her work.
              </span>
              <br>
              <a href="https://github.com/roxnlopez" class="fa fa-github btn btn-floating pulse #e1bee7 purple lighten-4"></a>
              <a href="https://www.linkedin.com/in/roxann-lopez-442274147/" class="fa fa-linkedin btn btn-floating pulse #e1bee7 purple lighten-4"></a>
            </div>
		</div>
	</div>
</div>